@inject SignInManager<ApplicationUser> SignInManager;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <environment include="Development">
        <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
        <script src="~/lib/jquery/jquery.js"></script>
        <script src="~/lib/jquery-validate/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
        <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"
              asp-fallback-href="~/lib/bootstrap/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              asp-suppress-fallback-integrity="true"/>
    </environment>

    <link href="~/css/site.css" rel="stylesheet"/>
    <title>@ViewBag.Title</title>
</head>

<body>

<!-- Navigation bar top of screen  -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" asp-controller="home" asp-action="index">Money Manager</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item first">
                <a class="nav-link" asp-controller="home" asp-action="index">
                    Dashboard
                </a>
            </li>

            <li class="nav-item last">
                <a class="nav-link" asp-controller="account" asp-action="index">
                    Accounts
                </a>
            </li>

        </ul>


        <ul class="navbar-nav my-2 my-lg-0">
            @if (SignInManager.IsSignedIn(User))
            {
                <li class="nav-item first dropdown">
                    <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                        @User.Identity.Name
                    </a>
                    <div class="dropdown-menu">
                        <a href="#" class="dropdown-item nav-link">
                            Settings
                        </a>
                        <form method="post" asp-controller="User" asp-action="Logout">
                                                <button type="submit" class="nav-link btn btn-link py-0">
                                                    Logout
                                                </button>
                                            </form>
                    </div>
                </li>
            }
            else
            {
                <li class="nav-item last">
                    <a class="nav-link" asp-controller="User" asp-action="Register">
                        Register
                    </a>
                </li>
                <li class="nav-item last">
                    <a class="nav-link" asp-controller="User" asp-action="Login">
                        Login
                    </a>
                </li>
            }
        </ul>
    </div>
</nav>

<!-- Body -->
<div class="container">
    @RenderBody()
</div>

<!-- Footer -->
<footer class="footer">
    <div class="container">
    </div>
</footer>

@if (IsSectionDefined("Scripts"))
{
    @RenderSection("Scripts", false)
}
</body>
</html>