@model LoginDto

@{
    Layout = "_LoginLayout";
    ViewBag.Title = "User Login";
}

<form method="post" class="form-signin">
    <h1 >Please Login</h1>
    <label asp-for="Email" class="sr-only"></label>
    <input asp-for="Email" class="form-control" placeholder="Email address" required autofocus/>
    <span asp-validation-for="Email" class="text-danger"></span>
    <label asp-for="Password" class="sr-only"></label>
    <input asp-for="Password" class="form-control"placeholder="Password" required/>
    <span asp-validation-for="Password" class="text-danger"></span>
    <div class="checkbox mb-3">
        <label asp-for="RememberMe">
            <input asp-for="RememberMe"/>
            @Html.DisplayNameFor(model => model.RememberMe)
        </label>
    </div>
    <div asp-validation-summary="All" class="text-danger"></div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
    <p class="mt-2">Don't have an account? <a asp-action="Register" asp-controller="User">Register here!</a></p>

</form>