<!doctype html>
<html lang="en_UK" class="theme-light">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Hezemanspad 8, Eindhoven - Huiz</title>

    <link rel="stylesheet" href="/build/17.f9b5d70e.css"
          integrity="sha384-nL7UiwXEtH2GU6yEWGv65chQ0MnLhzwCFIRC6e0KhgObkTXU/dqdDzGlA4C1SmoH">
    <link rel="stylesheet" href="/build/app.ed7ec2dd.css"
          integrity="sha384-/U0WT/t5VgfrlbWeeCLtEv2Z7PQRXKCem6TxLQ/eorJMqy7p6wSfXwQDxW4rOS/t">
    <link rel="stylesheet" href="/build/themes/light.625be8fa.css"
          integrity="sha384-68v4ay7SuRvHz7rDLVGN67YJEwA0br4EBQpYEAro5rM4Cy8D7vLVkfpuZM9B80FP">


</head>
<body data-theme="light">
<div id="app">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a href="/" class="navbar-brand">Huiz</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">


                <li class="nav-item first">
                    <a href="/hezemanspad-8-eindhoven/" class="nav-link active">
                        Home
                    </a>
                </li>


                <li class="nav-item">
                    <a href="/hezemanspad-8-eindhoven/expenses/expenses/" class="nav-link">
                        Expenses
                    </a>
                </li>


                <li class="nav-item">
                    <a href="/hezemanspad-8-eindhoven/documents/" class="nav-link">
                        Documents
                    </a>
                </li>


                <li class="nav-item">
                    <a href="/hezemanspad-8-eindhoven/schedules/" class="nav-link">
                        Schedules
                    </a>
                </li>


                <li class="nav-item">
                    <a href="/hezemanspad-8-eindhoven/plugins/grafana" class="nav-link">
                        Grafana
                    </a>
                </li>


                <li class="nav-item last">
                    <a href="/hezemanspad-8-eindhoven/plugins/calendar" class="nav-link">
                        Calendar
                    </a>
                </li>


            </ul>

            <ul class="navbar-nav my-2 my-lg-0">
                <li>
                    <form action="/change-house" method="post" id="house-selection">
                        <select class="form-control custom-select" name="house" id="house-selection-select">
                            <option
                                    value="hezemanspad-8-eindhoven"
                                    selected>Hezemanspad 8, Eindhoven
                            </option>
                            <option
                                    value="ajl-huis"
                            >AJL Huis
                            </option>
                        </select>
                    </form>
                </li>


                <li class="nav-item first dropdown">
                    <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                        Jelle Huibregtse
                        <b class="caret"></b>
                    </a>
                    <div class="dropdown-menu">


                        <a href="/settings" class="dropdown-item nav-link">
                            <i class="far fa-cog"></i> Settings
                        </a>


                        <a href="/create-house" class="dropdown-item nav-link">
                            <i class="far fa-plus"></i> Create new house
                        </a>


                    </div>

                </li>


                <li class="nav-item last">
                    <a href="/logout" class="nav-link">
                        Logout
                    </a>
                </li>


            </ul>
        </div>
    </nav>

    <div class="container">

        <h1>
            Hezemanspad 8, Eindhoven
        </h1>


        <h3>Members</h3>

        <ul class="list-group list-group-horizontal-md mt-2 mb-4">
            <li class="list-group-item flex-fill d-flex justify-content-between align-items-center">
                Koen
                <tooltip
                        element="span"
                        tooltip="Koen owes €8.62
"
                        class="badge badge-danger badge-pill"
                >€8.62
                </tooltip>
            </li>
            <li class="list-group-item flex-fill d-flex justify-content-between align-items-center">
                Rinse
                <tooltip
                        element="span"
                        tooltip="Rinse owes €43.65
"
                        class="badge badge-danger badge-pill"
                >€43.65
                </tooltip>
            </li>
            <li class="list-group-item flex-fill d-flex justify-content-between align-items-center">
                Jelle
                <tooltip
                        element="span"
                        tooltip="Jelle gets back €101.94
"
                        class="badge badge-success badge-pill"
                >-€101.94
                </tooltip>
            </li>
            <li class="list-group-item flex-fill d-flex justify-content-between align-items-center">
                Paul
                <tooltip
                        element="span"
                        tooltip="Paul gets back €3.01
"
                        class="badge badge-success badge-pill"
                >-€3.01
                </tooltip>
            </li>
            <li class="list-group-item flex-fill d-flex justify-content-between align-items-center">
                Bas
                <tooltip
                        element="span"
                        tooltip="Bas owes €52.68
"
                        class="badge badge-danger badge-pill"
                >€52.68
                </tooltip>
            </li>
        </ul>

        <h3>Next debts so far</h3>

        <div class="table-responsive">
            <table class="table mt-4">
                <thead>
                <tr>
                    <th>Amount</th>
                    <th>From</th>
                    <th>To</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>€52.68</td>
                    <td>Bas</td>
                    <td>Jelle</td>
                </tr>
                <tr>
                    <td>€43.65</td>
                    <td>Rinse</td>
                    <td>Jelle</td>
                </tr>
                <tr>
                    <td>€5.61</td>
                    <td>Koen</td>
                    <td>Jelle</td>
                </tr>
                <tr>
                    <td>€3.01</td>
                    <td>Koen</td>
                    <td>Paul</td>
                </tr>
                </tbody>
            </table>
        </div>

        <h3>Schedules for today</h3>

        <div class="table-responsive">
            <table class="table mt-4">
                <thead>
                <tr>
                    <th>Schedule</th>
                    <th>Date</th>
                    <th>Koen</th>
                    <th>Rinse</th>
                    <th>Jelle</th>
                    <th>Paul</th>
                    <th>Bas</th>
                </tr>
                </thead>
                <tbody>
                <tr class="">
                    <td>
                        <a href="/hezemanspad-8-eindhoven/schedules/eten">
                            Eten
                        </a>
                    </td>
                    <td>
                        Today

                    </td>
                    <td>
                        <div class="availability-circle available-true"></div>
                    </td>
                    <td>
                        <div class="availability-circle available-true"></div>
                    </td>
                    <td>
                        <div class="availability-circle available-true"></div>
                    </td>
                    <td>
                        <div class="availability-circle available-true"></div>
                    </td>
                    <td>
                        <div class="availability-circle available-true"></div>
                    </td>
                </tr>
                <tr class=" event-availability-disabled">
                    <td>
                        <a href="/hezemanspad-8-eindhoven/schedules/schoonmaken">
                            Schoonmaken
                        </a>
                    </td>
                    <td>
                        Today

                        - Next Sunday

                    </td>
                    <td>
                        <div class="availability-circle"></div>
                    </td>
                    <td>
                        <div class="availability-circle"></div>
                    </td>
                    <td>
                        <div class="availability-circle"></div>
                    </td>
                    <td>
                        <div class="availability-circle"></div>
                    </td>
                    <td>
                        <div class="availability-circle responsible"></div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <p>Voor schulden kan je rond de eerste van de maand een betaalverzoek maken als je nog geld krijgt. Als hij is
            betaald kan je het invoeren als afbetaling/settlement.</p>
        <p><strong>Links:</strong></p>
        <ul>
            <li><a href="https://cloud.villaeindje.nl/">Cloud</a></li>
            <li><a href="https://git.villaeindje.nl/">Git</a></li>
        </ul>
        <p>Laatste keer olie verversen: 21-01-2020</p>
        <p>Je hebt deze pagina
            <ago :datetime="1591618837000" formatted="Jun 8, 2020, 2:20:37 PM">Jun 8, 2020, 2:20:37 PM</ago>
            geopend
        </p>
    </div>

    <footer class="footer">
        <div class="container">
            <a href="/hezemanspad-8-eindhoven/locale/nl_NL" title="Nederlands"><span
                    class="flag-icon flag-icon-nl"></span></a>

            <a href="/hezemanspad-8-eindhoven/theme/dark" title="Dark mode"><i class="fas fa-adjust"></i></a>
        </div>
    </footer>
</div>

<script src="/build/runtime.7e4a2b64.js"
        integrity="sha384-frC0NBMAdiyKtTGM1aK+KksJPkw9kOHGYJojW5XZ7h6CIoMu44v/+IgFIYuOF+h5"></script>
<script src="/build/4.8cde4bb5.js"
        integrity="sha384-xwMEzEAtlFJs28rL/3IUftf4G8J9zlOQDBCMLdJtTZy41KdSkWnC+VV6dqe73MAz"></script>
<script src="/build/17.5b892772.js"
        integrity="sha384-RKnl4VLDf/IbOlEAtBaB+LSyHLQNhTyYn6I+yi4bMG36nfADfnCX07TgoZS6z4ss"></script>
<script src="/build/app.178e6287.js"
        integrity="sha384-y87ilWGLkdNxzuAutWpsgqcxbFoqsi8eLMRoe+Aqs1a8sQkFwKgRK1eEnvVkWfGC"></script>


<script src="/build/house.9cec2e02.js"
        integrity="sha384-/eTXgEFs3Ra3285IwkSeU+Cuq7gCl3WyEE4JvGM3yCzdh5asrjYwqUYSLtIJdgyI"></script>
</body>
</html>