@model int

@{
    ViewBag.Title = "Error 404: Not Found";
}

<div class="section alert alert-danger mt-1 mb-1">
    <h4>Error 404: Not Found</h4>
    <h5>
        Category with Id @Model cannot be found
    </h5>
</div>
<a asp-action="Index" asp-controller="Category" class="btn btn-outline-primary">Go to your category overview</a>