@model IEnumerable<Category>

@{
    ViewBag.Title = "Category Overview";
}

<h1 class="title">@ViewBag.Title</h1>

<div class="section btn-group my-1">
    <a asp-controller="Category" asp-action="Create" class="btn btn-outline-primary" type="button">Create Category</a>
</div>

<div class="section table-responsive">
    <table class="table">
        <thead>
        <tr>
            <th>Category Name</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>

        @foreach (var category in Model)
        {
            <tr>
                <td>@category.Name</td>
                <td>
                     <a asp-controller="Category" asp-action="Edit" asp-route-id="@category.Id">Edit</a>
                    | <a asp-controller="Category" asp-action="Delete" asp-route-id="@category.Id">Delete</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>